/* Styles for chat */
#content_chat {
    margin-top: 3%;
}

.chat {
    height: 100%;
    width: 98%;
    margin-bottom: 1%;
    padding: 5% 2% 5% 2%;
    border-radius: 45px;
    border: 2px solid var(--gray-color);
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
}

.chat::-webkit-scrollbar {
    width: 2%;
}

.chat::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.chat::-webkit-scrollbar-track {
    background-color: transparent;
}

.user-phrase,
.script-phrase {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.message,
.message-selects {
    height: auto;
    width: auto;
    box-sizing: border-box;
    padding: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 30px;
}

.user-phrase>.message,
.script-phrase>.message,
.script-phrase>.message-selects {
    margin-bottom: 2%;
    max-width: 48%;
}

.chat button {
    font-family: "CocoGothicAlternate-Bold";
    font-size: var(--base-font-size);
    color: var(--white-app-back-color);
    text-align: center;
    padding: 1% 8% 1% 8%;
    height: auto;
    width: auto;
    margin-top: 1%;
    border: 0;
    border-radius: 30px;
    background-color: var(--purple-light-color);
    transition-duration: 0.4s;
    cursor: pointer;
}

.chat .send-active:hover {
    background-color: var(--purple-color);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat button:disabled {
    background-color: var(--purple-light-transparent-color);
}

.chat .send-disabled:hover {
    box-shadow: none;
    cursor: auto;
}

.chat .result {
    margin-left: auto;
    margin-right: auto;
}

/* Styles for user*/

.user-phrase {
    align-items: flex-end;
    margin-bottom: 2%;
}

.option-user-phrase {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2%;
}

.option-user-phrase>.message {
    max-width: 48%;
}

.option-user-phrase label {
    height: auto;
    width: auto;
    cursor: pointer;
}

.user-phrase .message {
    text-align: end;
    background-color: var(--gray-color); /* var(--yellow-color); */
}

.user-phrase p {
    display: inline;
    width: auto;
}

#option-checked-true {
    background-color: var(--green-color);
}

#option-checked-false {
    background-color: var(--red-color);
    display: flex;
    flex-direction: column;
}

#option-checked-true-border {
    /* border: 2px solid var(--green-color); */
    outline: 2px solid var(--green-color);
    outline-offset:-2px;
}

#false-text {
    text-decoration-line: line-through;
}

/* Styles for script*/

.script-phrase {
    align-items: flex-start;
    margin-bottom: 9%;
}

.script-phrase .message,
.script-phrase .message-selects {
    text-align: start;
    background-color: var(--purple-pink-color);
}

.script-phrase .script-phrase-img {
    max-width: 30%;
    max-height: 30%;
    margin-bottom: 2%;
    border-radius: 20px;
}

.script-phrase .script-phrase-audio {
    height: 50px;
    max-width: 50%;
    margin-bottom: 2%;
}

.script-phrase-audio::-webkit-media-controls-enclosure {
    background-color: var(--purple-pink-color);
    height: 70px;
}

.script-phrase-audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

.script-phrase-audio::-webkit-media-controls-volume-control-container {
    display: none;
}

.script-phrase-audio::-webkit-media-controls-fullscreen-button {
    display: none;
}

.script-phrase-audio::-webkit-media-controls-current-time-display {
    font-family: 'CocoGothicAlternate';
    font-size: 10px;
    height: 8px;
}

.message-selects {
    display: flex;
    flex-wrap: nowrap;
}

.message-selects select {
    height: auto;
    width: min-content;
    max-width: 45%;
    font-family: 'CocoGothicAlternate';
    font-size: var(--base-font-size);
    border: none;
    border-radius: 10px;
    padding: 1.5%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    transition-duration: 0.4s;
}

.message-selects p {
    height: auto;
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 15px;
    line-height: calc(var(--base-font-size) + 25px);
}

.select-true {
    color: var(--green-light-color);
}

.select-false {
    color: var(--red-light-color);
}

/* Styles for modal window*/
.modal {
    font-family: 'CocoGothicAlternate-Bold';
    font-size: var(--base-font-size);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 60%;
    background-color: white;
    z-index: 999;
    border-radius: 30px;
    padding: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal>p {
    line-height: 40px;
    display: inline-block;
    width: auto;
    height: auto;
}

.modal>button {
    font-family: "CocoGothicAlternate-Bold";
    font-size: var(--base-font-size);
    color: var(--white-app-back-color);
    text-align: center;
    padding: 1% 8% 1% 8%;
    height: auto;
    width: auto;
    margin-top: 4%;
    border: 0;
    border-radius: 30px;
    background-color: var(--purple-light-color);
    transition-duration: 0.4s;
    cursor: pointer;
}

.modal>button:hover {
    background-color: var(--purple-color);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

@media screen and (max-width: 2000px) {
    .message-selects p, .modal p {
        line-height: calc(var(--base-font-size) + 20px);
    }
}

@media screen and (max-width: 1500px) {
    .message-selects p, .modal p {
        line-height: calc(var(--base-font-size) + 15px);
    }
}

@media screen and (max-width: 1130px){
    .modal {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
    }
}

@media screen and (max-width: 900px) {
    .message-selects select,
    .message-selects option,
    .chat button,
    .modal, .modal>button {
        font-size: var(--font-size-900);
    }

    .message-selects p, .modal p {
        line-height: calc(var(--base-font-size) + 10px);
    }
}

@media screen and (max-width: 700px) {
    .chat {
        padding-left: 3%;
    }

    .message {
        padding: 5%;
        padding-top: 4%;
        padding-bottom: 4%;
    }

    .script-phrase .script-phrase-audio {
        max-width: 90%;
    }

    .message-selects p, .modal p {
        line-height: calc(var(--base-font-size) + 5px);
    }
}

@media screen and (max-width: 590px) {
    .message-selects select,
    .message-selects option,
    .chat button,
    .modal, .modal>button {
        font-size: var(--font-size-590);
    }

    .user-phrase .message,
    .script-phrase>.message,
    .script-phrase>.message-selects {
        max-width: 60%;
    }

    .script-phrase .script-phrase-img {
        margin-left: 5%;
    }

    .message-selects p, .modal p {
        line-height: calc(var(--base-font-size));
    }
}

@media screen and (max-width: 450px) {
    .message,
    .message-selects {
        padding: 6%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .user-phrase .message,
    .script-phrase>.message,
    .script-phrase>.message-selects {
        max-width: 80%;
        margin-bottom: 4%;
    }

    .option-user-phrase>.ball {
        margin-right: 8%;
        transition-duration: 0.8s;
    }

    .script-phrase .script-phrase-audio {
        margin-bottom: 4%;
    }

    .script-phrase .script-phrase-img {
        max-width: 40%;
        max-height: 40%;
        margin-bottom: 4%;
    }

    .message-selects p, .modal p {
        line-height: calc(var(--font-size-900));
    }

    .option-user-phrase .ball {
        vertical-align:middle;
        margin-top: -10px;
    }
}

@media screen and (max-width: 375px) {
    .message-selects select,
    .message-selects option,
    .chat button,
    .modal, .modal button {
        font-size: var(--font-size-375);
    }

    .message,
    .message-selects {
        padding: 8%;
        padding-top: 7%;
        padding-bottom: 7%;
    }
    
    .modal {
        max-width: 80%;
    }

    .script-phrase .script-phrase-audio {
        max-width: 95%;
    }
}