/* Styles for pages 1, 2 and 3 */
.page {
    width: 100%;
    height: 100%;
    font-family: "CocoGothicAlternate";
    font-size: var(--base-font-size);
}

.steps {
    height: 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#step1,
#step2,
#step3 {
    width: 30%;
    border-radius: 10px;
    /* box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);*/
}

.step-active {
    background-color: var(--purple-light-color);
}

.step {
    background-color: var(--gray-color);
}

.content {
    height: 94%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.question {
    font-family: "CocoGothicAlternate-Bold";
    height: auto;
    width: auto;
    text-align: center;
}

.ball {
    min-height: 30px;
    min-width: 30px;
    height: 30px;
    width: 30px;
}

.btn {
    height: auto;
    width: auto;
    padding: 1% 3% 1% 3%;
    border: 0;
    border-radius: 30px;
    font-family: "CocoGothicAlternate-Bold";
    font-size: var(--base-font-size);
    background-color: var(--purple-light-color);
    color: var(--white-app-back-color);
    transition-duration: 0.4s;
    cursor: pointer;
    box-sizing: border-box;
}

.btn:hover {
    background-color: var(--purple-color);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Styles for page1 */

#page1 {
    display: flex;
    flex-direction: column;
}

#content_q1 {
    margin-top: 3%;
    max-height: 94%;
}

#question_q1 {
    max-height: 5%;
}

#form1 {
    max-height: 80%;
    /* width: 60%; */
    width: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.btn {
    max-height: 12%;
}

.answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: auto;
    max-height: 32%;
}

.answer:nth-child(1),
.answer:nth-child(2) {
    margin-bottom: 4%;
}

.answer>.ball {
    margin: 0 6% 0 0;
    cursor: pointer;
}

.label-levels {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.answer label {
    height: auto;
    width: auto;
    line-height: 32px;
    cursor: pointer;
    display: inline-block;
}

.answer .level {
    font-family: "CocoGothicAlternate-Bold";
}

/* Styles for page2 */
#page_q2 {
    width: 100%;
    height: 100%;
}

#content_q2 {
    height: 94%;
    margin-top: 3%;
    bottom: 0;
}

#form2 {
    overflow: auto;
    margin-bottom: 2%;
    padding: 1%;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    margin-bottom: 3%;
}

.choice {
    display: flex;
    align-items: center;
    width: calc(180px + 30px + 8%);
    margin-right: 2%;
}

.ball {
    margin-right: 8%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.photo {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.label-column {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.label-column label {
    cursor: pointer;
}

.name-age,
.profession,
.description {
    margin-bottom: 1%;
    width: auto;
    height: auto;
}

@media screen and (max-width: 1265px) {

    /* Styles for pages 1*/
    /* #form1 {
        width: 57%;
    } */
}

@media screen and (max-width: 1110px) {

    /* Styles for page1 */
    /* #form1 {
        width: 65%;
    } */
}

@media screen and (max-width: 980px) {

    /* Styles for page1*/
    /* #form1 {
        width: 70%;
    } */
}

@media screen and (max-width: 900px) {

    /* Styles for pages 1, 2 and 3 */
    #page_q1,
    #page_q2,
    #page_chat {
        font-size: var(--font-size-900);
    }

    .btn {
        font-size: var(--font-size-900);
    }

    /* Styles for page1 */
    #question_q1 {
        margin-top: 1%;
        margin-bottom: -2%;
    }

   /*  #form1 {
        width: 70%;
    } */
}

@media screen and (max-width: 810px) {

    /* Styles for page1 */
    /* #form1 {
        margin-top: 0;
        width: auto;
    } */
}

@media screen and (max-width: 700px) {

    /* Styles for pages 1, 2 and 3*/
    .ball {
        height: 25px;
        width: 25px;
    }

    /* Styles for page2 */
    .choice {
        width: calc(150px + 25px + 8%);
        margin-right: 2%;
    }

    .photo {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 590px) {

    /* Styles for pages 1, 2 and 3*/
    #page_q1,
    #page_q2,
    #page_chat {
        font-size: var(--font-size-590);
    }

    .btn {
        font-size: var(--font-size-590);
    }
}

@media screen and (max-width: 510px) {

    /* Styles for pages 1, 2 and 3*/
    .ball {
        height: 20px;
        width: 20px;
    }

    /* Styles for page1*/
    .answer {
        margin-bottom: 4%;
    }

    .answer label {
        line-height: 25px;
    }

    /* Styles for page2*/
    .choice {
        width: calc(130px + 20px + 8%);
        margin-right: 2%;
    }

    .photo {
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 450px) {

    /* Styles for pages 1, 2 and 3*/
    .ball {
        height: 30px;
        width: 30px;
        margin-right: auto;
    }

    /* Styles for page1*/

    /* Styles for page2*/
    #form2 {
        overflow: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 1%;
    }

    .options {
        width: 100%;
    }

    .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .choice {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0%;
        margin-bottom: 5%;
    }

    .photo {
        width: 150px;
        height: 150px;
        margin-right: 25%;
    }

    .label-column {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 70%;
        margin-bottom: 3%;
    }

    .name-age,
    .profession,
    .description {
        margin-bottom: 2%;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 425px) {

    /* Styles for pages 1, 2 and 3*/
    .steps {
        margin-top: 1%;
    }
}

@media screen and (max-width: 375px) {

    /* Styles for pages 1, 2 and 3*/
    #page_q1,
    #page_q2,
    #page_chat {
        font-size: var(--font-size-375);
    }

    .steps {
        margin-top: 4%;
        height: 2%;
    }

    .btn {
        font-size: var(--font-size-375);
    }

    .ball {
        height: 25px;
        width: 25px;
        min-width: 25px;
        min-height: 25px;
        margin-right: auto;
    }

    /* Styles for page1*/
    .answer {
        margin-bottom: 6%;
    }

    /* Styles for page2*/
    .label-column {
        width: 80%;
    }

    .photo {
        margin-right: 20%;
    }
}