/* Styles for chat */
#content_chat {
    margin-top: 3%;
}

.chat {
    height: 100%;
    width: 100%;
    margin-bottom: 1%;
    padding: 5% 2% 5% 2%;
    border-radius: 45px;
    border: 2px solid var(--gray-color);
    overflow: auto;
    box-sizing: border-box;
}

.chat::-webkit-scrollbar {
    width: 8px;
}

.chat::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.chat::-webkit-scrollbar-track {
    background-color: transparent;
}
  
.user-phrase, .script-phrase {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.message {
    height: auto;
    width: auto;
    
    padding: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 30px;
}

.user-phrase > .message, .script-phrase > .message {
    margin-bottom: 2%;
    max-width: 50%;
}

.chat p {
    height: auto;
    word-wrap: break-word;
    display: inline-block;
}

.chat button {
    font-family: "CocoGothicAlternate-Bold";
    font-size: 24px;
    color: var(--white-app-back-color);
    text-align: center;
    padding: 1% 8% 1% 8%;
    height: auto;
    width: auto;
    margin-top: 1%;
    border: 0;
    border-radius: 30px;
    background-color: var(--purple-light-color);
}

/* Styles for user*/

.user-phrase {
    align-items: flex-end;
}

.option-user-phrase {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2%;
}

/* .option-user-phrase > .message {
    width: 30%;
} */

.user-phrase .message {
    text-align: end;
    background-color: var(--yellow-color);
}

#option-checked {
    background-color: var(--gray-color);
}

/* Styles for script*/

.script-phrase {
    align-items: flex-start;
}

.script-phrase .message {
    text-align: start;
    background-color: var(--purple-pink-color);
}