/* Connecting fonts */
@font-face {
  font-family: 'CocoGothicAlternate';
  src: local('CocoGothicAlternate'),
    url('./fonts/CocoGothicAlternate.ttf') format('truetype');
}

@font-face {
  font-family: 'CocoGothicAlternate-Bold';
  src: local('CocoGothicAlternate-Bold'),
    url('./fonts/CocoGothicAlternate-Bold.ttf') format('truetype');
}

* {
  width: 100%;
  height: 100%;
}

/* Project Variables and Background Styles */
body {
  --purple-dark-color: #6F40B4;
  --white-app-back-color: white;
  --purple-color: #bf00ff;
  --purple-light-color: #CA3EF7;
  --purple-pink-color: #EFC3FD;
  --gray-color: #E7E7E7;
  --yellow-color: #FFD03A;
  --red-color: #F5ABAB;
  --green-color: #B1F5AB;
  --red-light-color: #f36767;
  --green-light-color: #5df04f;
  --base-font-size: 24px;
  --font-size-900: 20px;
  --font-size-590: 18px;
  --font-size-375: 16px;
  background-image: url("../public/resources/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s;
}

/* Background changes */
@media screen and (max-width:360px) {
  body {
    background-image: url("../public/resources/background-phone.png");
  }
}